#about {
    padding-top: 10rem;
    background-image: url("../img/bg-signup.jpg");
    background: linear-gradient(to bottom, #161616 0%, rgba(22, 22, 22, 0.9) 75%, rgba(22, 22, 22, 0.8) 100%);
    
  }
  .projects-section {
    padding: 10rem 0;
    background-color: #171717;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url("../img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }

  p {
font-size: 20px;
color: whitesmoke;
  }